
main {
    margin-right: 50px;;
}

.sep1, .mainpage, .suscripcion, .consent, .recomendado, .descprep,
.introduccion {
    display: flex;
}

section h1, .btnReceta, .opcions button:hover, .newsletter h3,
.simeapunto, .coli, .vitamix, .rec, .artrecomendado a, .pastatitulo,
.dk, .imp:hover, .come:hover, .ing, .elab, .puntua, .botonenviar,
.terminosyc, aside h4, .interes a:hover{
    font-weight: bold;
}

.secc1, .mainpage {
    margin: 0 15%;
}

section h1 {
    text-align:left;
    font-size:2em;
}

.sep1 {
    font-size: 0.8em;
    color: grey;
}

.btnReceta {
    background-color: white;
    color: black;
    border: 2px solid #7ABA96;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    width: 100px;
    height:40px;
    margin-bottom:10px;
    transition-duration: 0.5s;
    margin-left:auto;

}
.btnReceta:hover {
    background-color: #7ABA96;
    color: white;
}

.btnReceta a {
    text-decoration:none;
    font-family:inherit;
    color: black;
}
.pasta1 {
    width:100%;
}

.opcions {
    margin-bottom:50px;
}

.opcions button {
    background-color: white;
    color:#7ABA96;
    border: 1px solid #7ABA96;
    cursor: pointer;
    height:30px;
    width: 100%px;
    margin-top:50px;
    margin-left:10px;
}

.mainpage {
    font-size: 1.1em;
}

.parr1,.parr2 {
    text-align: justify;
    line-height : 25px;
}

.pasta2 {
    width: 100%;
    margin-top:2vh;
}

.suscripcion {
    border: 1px solid #7ABA96;
    padding:3vh;
    margin-top:6vh;
}

.imgsus {
    width: 10em;
    height: 10em;
    padding:1vh;
}

.newsletter {
    margin-left:2vh;
}

.newsletter h3 {
    margin:0;
    font-size:1.2em;
}

.newsletter p {
    font-size:0.9em;
}

.nombre,.correo {
    padding:15px;
    margin:10px 0;
    border: 0.5px solid grey;
    opacity: 0.5;
    font-family:inherit;
    width: 100px;
}

.correo {
    margin-left:1vh;
}

.simeapunto {
    padding:15px;
    margin:10px 1vh 10px 0;
    border: 1px solid #7ABA96;
    font-family:inherit;
    width: 180px;
    background-color:#7ABA96;
}

.simeapunto:hover{
    cursor: pointer;
}

.simeapunto:active {
  background-color: #5F997F;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.formulari {
    margin-bottom:2vh;
}

.consent {
  position:relative;
  padding-left:35px;
  margin-bottom:12px;
  margin-top:5px;
  cursor:pointer;
  font-size:12px;
}
.consent input {
  position:absolute;
  opacity:0;
  cursor:pointer;
  height:0;
  width:0;
}
.checkmark {
  position:absolute;
  top:0;
  left:0;
  height:12px;
  width:12px;
  background-color:white;
  border:2px solid #7ABA96;
}
.checkmark:hover{
  background-color:#E3E4E5;
}
.consent input:checked ~ .checkmark {
  background-color: #7ABA96;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.consent input:checked ~ .checkmark:after {
  display: block;
}
.consent .checkmark:after {
  left: 3px;
  width: 3px;
  height: 10px;
  border:solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.propiedades {
    margin-top:5vh;
}

.coli,.vitamix {
    text-decoration:none;
    color:#7ABA96;
}

.rec {
    font-size:22px;
    margin-top:5vh;
}

.artrecomendado {
    width: 90%;
    margin: 0 10px;
}

.artrecomendado img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.artrecomendado h3 {
    font-size:1em;
}

.artrecomendado a {
    text-decoration:none;
    font-size:0.8em;
    color:#7ABA96;
}

.receta {
    margin-top:10vh;
}


.preparacion {
    margin-top:10vh;
    border:2px solid #8A8070;
}
.pastatitulo {
    text-align:center;
    font-size:1.5em;
}
.preparacion hr {
    margin-left:5vh;
}

.descprep p,.listaing,.pasoapaso {
    padding:4vh;
    line-height:40px;
}
.descprep img {
    width: 15em;
    height: 7em;
    padding:5vh;
}

table {
    padding: 5vh;
}

.columna1,.columna2,columna3 {
    line-height:60px;
}

table img {
    width:1.5em;
    height:1.5em;
}

.dk {
    text-decoration:none;
    color:#7ABA96;
}

.imp,.come {
    background-color:#7ABA96;
    border:none;
    color:white;
    text-align:center;
    text-decoration:none;
    font-size:16px;
    margin-bottom:2vh;
    padding: 15px 100px;
    transition-duration: 0.5s;
}
.imp {
    margin-left:13%;
}
.come {
    margin-left:7%;
}
.imp:hover,.come:hover {
    background-color:#5F997F;
    cursor: pointer;
}

.ing,.elab {
    font-size:1em;
    margin-top:5vh;
    margin-left:5vh;
}
.listaing,.pasoapaso {
    margin-left:5vh;
}
.pasoapaso{
    list-style:none;
    text-align:justify;
}
.pasoapaso li {
    counter-increment:my-awesome-counter;
}
.pasoapaso li::before {
    content: counter(my-awesome-counter) ". ";
    color:#7ABA96;
    font-weight: bold;
}

.lineafinal {
    margin-top:10vh;
}

.dejacom {
    text-align:center;
    text-decoration: underline overline #7ABA96;
}

footer a {
    text-decoration:none;
    color:white;
    margin:2vw;
}
.puntua {
    text-align:center;
    font-size:12px;
    color:grey;
}

label {
    color:grey;
    font-size: 2em;
}
input[type = "radio"] {
    display:none;
}
.clasificacion {
    direction:rtl;
    unicode-bidi:bidi-override;
    text-align:center;
  }
label:hover {
    color:#7ABA96
}

label:hover~label {
    color:#7ABA96;
}
input[type="radio"]:checked~label {
    color:#7ABA96;
}

textarea,.nombreform,.emailform {
    font-family:inherit;
    padding: 1vh;
}
textarea {
    width:95%;
    margin-bottom:2vh;
}
.nombreform,.emailform {
    color:grey;
}

.terminosyc {
    font-size:12px;
    color:grey;
}

.botonenviar {
    background-color: #E3E4E5;
    color: black;
    border:none;
    cursor: pointer;
    width: 100px;
    height:40px;
    transition-duration: 0.5s;
    margin-left:45%;
    margin-top:2vh;
    margin-bottom:10vh;
}

.botonenviar:hover {
    background-color: #7ABA96;
    color: white;
}

aside h4 {
    text-align:center;
}

aside hr {
    margin-top:2vh;
    margin-bottom:2vh;
}

.introduccion p {
    margin: auto 2vw;
}

.pp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: relative;
}

.nombrepp img {
    width: 80%;
    margin: 20px auto;
    display: block;
    outline: 1px solid white;
    outline-offset: -4px;
}

.interes a {
    text-decoration:none;
    color:gray;
}

.interes a:hover {
    color:#7ABA96;
}