.divisor {
    display: flex;
}

.mainpage {
    margin: 0 10vw;
}

aside {
    width: 25%;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 1vh 30px;
}

ul * {
    margin: 0.2vh 0;
}

.separator {
    border: 0; border-top: 1px solid #8A8070;
    margin: 10px 0;
}
button {
    border: none;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    background-color: rgb(185, 227, 195, 0.3);
    cursor: pointer;
}

button:focus {
    background-color: rgb(185, 227, 195, 0.5);
}

object {
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    transform: scale(1);
    transform-origin: 0 0;
}