.secc1 {
    margin-left:15%;
    margin-right:15%;
}


section h1 {
    text-align:left;
    font-size:2em;
    font-weight:bold;
}

.sep1 {
    font-size: 0.8em;
    color: grey;
    display:flex;
}

.btnReceta {
    background-color: white;
    color: black;
    font-weight:bold;
    border: 2px solid #7ABA96;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100px;
    height:40px;
    margin-bottom:10px;
    transition-duration: 0.5s;
    margin-left:auto;
    margin-right:20px;
}
.btnReceta:hover {
    background-color: #7ABA96;
    color: white;
}

.btnReceta a {
    text-decoration:none;
    font-family:inherit;
    color: black;
}
.pasta1 {
    width:100%;
}

.opcions {
    margin-bottom:50px;
}

.salsas{
    background-color: white;
    color:#7ABA96;
    border: 1px solid #7ABA96;
    cursor: pointer;
    width: 80px;
    height:30px;
    width: 120px;
    margin-top:50px;
}
.salsas:hover {
    font-weight:bold;
}

.otros {
    background-color: white;
    color:#7ABA96;
    border: 1px solid #7ABA96;
    cursor: pointer;
    width: 80px;
    height:30px;
    width: 50px;
    margin-top:50px;
    margin-left:10px;
}
.otros:hover {
    font-weight:bold;
}

.platos,.vegetarianas {
    background-color: white;
    color:#7ABA96;
    border: 1px solid #7ABA96;
    cursor: pointer;
    width: 80px;
    height:30px;
    width: 130px;
    margin-top:50px;
    margin-left:10px;
}

.platos:hover,.vegetarianas:hover {
    font-weight:bold;
}

.singluten,.veganas {
    background-color: white;
    color:#7ABA96;
    border: 1px solid #7ABA96;
    cursor: pointer;
    width: 80px;
    height:30px;
    width: 80px;
    margin-top:50px;
    margin-left:10px;
}

.singluten:hover,.veganas:hover {
    font-weight:bold;
}

.mainpage {
    display:flex;
    margin-left:15%;
    margin-right:15%;
    font-size: 1.1em;
}

.parr1,.parr2 {
    text-align: justify;
    margin-right:9vw;
    line-height : 25px;
}

.pasta2 {
    width:83%;
    margin-top:2vh;
}

.suscripcion {
    border: 1px solid #7ABA96;
    padding:3vh;
    margin-right:8.6vw;
    margin-top:6vh;
    display:flex;
}

.imgsus {
    width: 10em;
    height: 10em;
    padding:1vh;
}

.newsletter {
    margin-left:2vh;
}

.newsletter h3 {
    margin:0;
    font-size:1.2em;
    font-weight:bold;
}
.newsletter p {
    font-size:0.9em;
}

.nombre,.correo {
    padding:15px;
    margin:10px 0;
    border: 0.5px solid grey;
    opacity: 0.5;
    font-family:inherit;
    width: 100px;
}

.correo {
    margin-left:1vh;
}

.simeapunto {
    padding:15px;
    margin:10px 0;
    border: 1px solid #7ABA96;
    font-family:inherit;
    font-weight:bold;
    width: 180px;
    background-color:#7ABA96;
    margin-left:1vh;
}

.simeapunto:hover{
    cursor: pointer;
}

.simeapunto:active {
  background-color: #5F997F;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.formulari {
    margin-bottom:2vh;
}

.consent {
  display:block;
  position:relative;
  padding-left:35px;
  margin-bottom:12px;
  margin-top:5px;
  cursor:pointer;
  font-size:12px;
}
.consent input {
  position:absolute;
  opacity:0;
  cursor:pointer;
  height:0;
  width:0;
}
.checkmark {
  position:absolute;
  top:0;
  left:0;
  height:12px;
  width:12px;
  background-color:white;
  border:2px solid #7ABA96;
}
.checkmark:hover{
  background-color:#E3E4E5;
}
.consent input:checked ~ .checkmark {
  background-color: #7ABA96;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.consent input:checked ~ .checkmark:after {
  display: block;
}
.consent .checkmark:after {
  left: 3px;
  width: 3px;
  height: 10px;
  border:solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.propiedades {
    margin-top:5vh;
}

.coli,.vitamix {
    text-decoration:none;
    font-weight:bold;
    color:#7ABA96;
}

.rec {
    font-weight:bold;
    font-size:22px;
    margin-top:5vh;
}

.recomendado {
    display:flex;
}

.artrecomendado {
    padding:2vh;
    /* PONERLO EN LÍNEA CON EL TEXTO DEL MAI (AJUSTADO)*/
}

.artrecomendado img{
    width: 15em;
    height: 10em;
    padding:1vh;
}
.artrecomendado h3 {
    font-size:1em;
}

.artrecomendado a {
    text-decoration:none;
    font-size:0.8em;
    font-weight:bold;
    color:#7ABA96;
}

.receta {
    margin-top:10vh;
}


.preparacion {
    margin-top:10vh;
    margin-right:10vh;
    border:2px solid #8A8070;
}
.pastatitulo {
    text-align:center;
    font-weight:bold;
    font-size:1.5em;
}
.preparacion hr {
    margin-left:5vh;
    margin-right:5vh;
}

.descprep {
    display:flex;
}
.descprep p,.listaing,.pasoapaso {
    padding:4vh;
    line-height:40px;
}
.descprep img {
    width: 15em;
    height: 7em;
    padding:5vh;
}

table {
    padding: 5vh;
}
.columna1,.columna2,columna3 {
    line-height:60px;
    /*  NO SÉ PONER LOS PINCHES ESPACIOS
    ENTRE LAS TABLES (= LO MISMO ME PASA CON
    LAS FOTOS DEL DISPLAY DEL COMENTARIO
    ANTERIORRRRRRRRRRRRRRRRRRRRRRRRRRRRR */
}
table img {
    width:1.5em;
    height:1.5em;
    margin-right:1vh;
}

.dk {
    text-decoration:none;
    font-weight:bold;
    color:#7ABA96;
}

.imp,.come {
    background-color:#7ABA96;
    border:none;
    color:white;
    text-align:center;
    text-decoration:none;
    font-size:16px;
    margin-bottom:2vh;
    padding: 15px 100px;
    transition-duration: 0.5s;
}
.imp {
    margin-left:13%;
}
.come {
    margin-left:7%;
}
.imp:hover,.come:hover {
    background-color:#5F997F;
    cursor: pointer;
    font-weight:bold;
}

.ing,.elab {
    font-size:1em;
    font-weight:bold;
    margin-top:5vh;
    margin-left:5vh;
}
.listaing,.pasoapaso {
    margin-left:5vh;
}
.pasoapaso{
    list-style:none;
    text-align:justify;
}
.pasoapaso li {
    counter-increment:my-awesome-counter;
}
.pasoapaso li::before {
    content: counter(my-awesome-counter) ". ";
    color:#7ABA96;
    font-weight: bold;
}

.lineafinal {
    margin-top:10vh;
}

.dejacom {
    text-align:center;
    text-decoration: underline overline #7ABA96;
}


.puntua {
    text-align:center;
    font-size:12px;
    font-weight:bold;
    color:grey;
}

label {
    color:grey;
    font-size: 2em;
}
input[type = "radio"] {
    display:none;
}
.clasificacion {
    direction:rtl;
    unicode-bidi:bidi-override;
    text-align:center;
  }
label:hover {
    color:#7ABA96
}

label:hover~label {
    color:#7ABA96;
}
input[type="radio"]:checked~label {
    color:#7ABA96;
}

textarea,.nombreform,.emailform {
    font-family:inherit;
    padding:1vh;
}
textarea {
    width:100%;
    margin-bottom:2vh;
}
.nombreform,.emailform {
    color:grey;
}

.terminosyc {
    font-size:12px;
    font-weight:bold;
    color:grey;
}

.botonenviar {
    background-color: #E3E4E5;
    color: black;
    font-weight:bold;
    border:none;
    cursor: pointer;
    width: 100px;
    height:40px;
    transition-duration: 0.5s;
    margin-left:45%;
    margin-right:20px;
    margin-top:2vh;
    margin-bottom:10vh;
}

.botonenviar:hover {
    background-color: #7ABA96;
    color: white;
}

aside h4 {
    font-weight:bold;
    text-align:center;

}

aside hr {
    margin-top:2vh;
    margin-bottom:2vh;
}

.introduccion {
    display:flex;
    margin:0 -2vh;
}

.introduccion p {
    margin:0 1vh;
}


footer {
    background-color:black;
    text-align:center;
    padding:3vh;
    margin:0;
}

footer a {
    text-decoration:none;
    color:white;
    margin:2vw;
}

