body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

header {
    margin-top:40px;
    text-align:center;
    font-weight:bold;
    position:sticky;
    top:0;
    background-color:white;
}

nav {
    margin:1vh 0;
}

nav a {
    text-decoration:none;
    color:black;
    transition:0.5s;
    margin:1.5vw;
}

nav a:hover {
    color:#7ABA96;
}

.lineaHeader {
    display: block;
    border: 0; border-top: 1px solid #8A8070;
}

.secc1 {
    margin-left:15%;
    margin-right:15%;
}


section h1 {
    text-align:left;
    font-size:2em;
    font-weight:bold;
}

.sep1 {
    font-size: 0.8em;
    color: grey;
    display:flex;
}

.btnReceta {
    background-color: white;
    color: black;
    font-weight:bold;
    border: 2px solid #7ABA96;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 100px;
    height:40px;
    margin-bottom:10px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin-left:auto;
    margin-right:20px;
}
.btnReceta:hover {
    background-color: #7ABA96;
    color: white;
}

.pasta1 {
    width:100%;
}

.opcions {
    margin-bottom:50px;
}

.salsas{
    background-color: white;
    color:#7ABA96;
    border: 1px solid #7ABA96;
    cursor: pointer;
    width: 80px;
    height:30px;
    width: 120px;
    margin-top:50px;
}
.salsas:hover {
    font-weight:bold;
}

.otros {
    background-color: white;
    color:#7ABA96;
    border: 1px solid #7ABA96;
    cursor: pointer;
    width: 80px;
    height:30px;
    width: 50px;
    margin-top:50px;
    margin-left:10px;
}
.otros:hover {
    font-weight:bold;
}

.platos,.vegetarianas {
    background-color: white;
    color:#7ABA96;
    border: 1px solid #7ABA96;
    cursor: pointer;
    width: 80px;
    height:30px;
    width: 130px;
    margin-top:50px;
    margin-left:10px;
}

.platos:hover,.vegetarianas:hover {
    font-weight:bold;
}

.singluten,.veganas {
    background-color: white;
    color:#7ABA96;
    border: 1px solid #7ABA96;
    cursor: pointer;
    width: 80px;
    height:30px;
    width: 80px;
    margin-top:50px;
    margin-left:10px;
}

.singluten:hover,.veganas:hover {
    font-weight:bold;
}

.mainpage {
    display:flex;
    margin-left:15%;
    margin-right:15%;
    font-size: 1.1em;
}

.parr1,.parr2 {
    text-align: justify;
    margin-right:9vw;
    line-height : 25px;
}

.pasta2 {
    width:83%;
    margin-top:2vh;
}

.suscripcion {
    border: 1px solid #7ABA96;
    padding:3vh;
    margin-right:8.6vw;
    margin-top:6vh;
    display:flex;
}

.imgsus {
    width: 10em;
    height: 10em;
    padding:1vh;
}

.newsletter {
    margin-left:2vh;
}

.newsletter h3 {
    margin:0;
    font-size:1.2em;
    font-weight:bold;
}
.newsletter p {
    font-size:0.9em;
}

.nombre,.correo {
    padding:15px;
    margin:10px 0;
    border: 0.5px solid grey;
    opacity: 0.5;
    font-family:inherit;
    width: 100px;
}

.correo {
    margin-left:1vh;
}

.simeapunto {
    padding:15px;
    margin:10px 0;
    border: 1px solid #7ABA96;
    font-family:inherit;
    font-weight:bold;
    width: 180px;
    background-color:#7ABA96;
    margin-left:1vh;
}

.simeapunto:hover{
    cursor: pointer;
}

.simeapunto:active {
  background-color: #5F997F;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.formulari {
    margin-bottom:2vh;
}

.consent {
  display:block;
  position:relative;
  padding-left:35px;
  margin-bottom:12px;
  margin-top:5px;
  cursor:pointer;
  font-size:12px;
}
.consent input {
  position:absolute;
  opacity:0;
  cursor:pointer;
  height:0;
  width:0;
}
.checkmark {
  position:absolute;
  top:0;
  left:0;
  height:12px;
  width:12px;
  background-color:white;
  border:2px solid #7ABA96;
}
.checkmark:hover{
  background-color:#E3E4E5;
}
.consent input:checked ~ .checkmark {
  background-color: #7ABA96;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.consent input:checked ~ .checkmark:after {
  display: block;
}
.consent .checkmark:after {
  left: 3px;
  width: 3px;
  height: 10px;
  border:solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.propiedades {
    margin-top:5vh;
}

.coli {
    text-decoration:none;
    font-weight:bold;
    color:#7ABA96;
}







footer {
    background-color:black;
    text-align:center;
    padding:3vh;
    margin:0;
}

footer a {
    text-decoration:none;
    color:white;
    margin:2vw;
}